/* ---------------------------------------------- */
/* BASIC SETUP */
/* ---------------------------------------------- */
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html,body {
    background-color: #fff;
    color: #555;
    font-family: 'Lato', Arial, sans-serif;
    text-rendering: optimizeLegibility;
    font-size: 20px;
    overflow-x: hidden;
}

.clearfix {zoom: 1}
.clearfix:after {
    content: '';
    clear: both;
    display: block;
    height: 0;
    visibility: hidden;
}
/* ---------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ---------------------------------------------- */

.row {
    max-width: 1140px;
    margin: 0 auto;
    
}

section {
    padding-top: 60px;
    padding-bottom: 60px;

}

.box {
    padding: 1%;
}

/*------ HEADINGS ------ */
h1, 
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 20px;
    color: #fff;
    word-spacing: 4px;
    font-size: 240%;
}

h2 {
    font-size: 180%;
    margin-bottom: 30px;
    text-align: center;
    word-spacing: 2px;
}

h2:after {
    display: block;
    height: 2px;
    width: 100px;
    background-color: #e67e22;
    content: " ";
    margin: 0 auto;
    margin-top: 30px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
    letter-spacing: 0px;
}

/*------ HEADER ------ */

header {
    background-image: -webkit-gradient(linear,left top, left bottom,from(rgba(0, 0, 0, 0.7)),to(rgba(0, 0, 0, 0.7))), url(img/hero.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(img/hero.jpg);
    background-attachment: fixed;
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.hero-text-box {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
}

.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
}

.logo-black {
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
    display: none;
}

.main-navigation {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-navigation li {
    display: inline-block;
    margin: 0px 20px;
}

.main-navigation li a:link,
.main-navigation li a:visited {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 90%;
    padding: 8px 0px;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

.main-navigation li a:hover,
.main-navigation li a:active {
    border-bottom: 2px solid #cf6d17;
}


/*------ STICKY NAVI ------ */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    -webkit-box-shadow: 0 2px 2px #efefef;
            box-shadow: 0 2px 2px #efefef;
    z-index: 9999;
    transition-duration: 0.2s;
}

.sticky .main-navigation {
    margin-top: 20px;
}

.sticky .main-navigation li a:link,
.sticky .main-navigation li a:visited {
    color: #555;
    padding: 15px 0;
}


.sticky .logo-black {
    display: block;
}

.sticky .logo {
    display: none;
}
/*------ BUTTONS ------ */

.btn:visited,
.btn:link,
input[type=submit] {
display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    -webkit-transition: background-color 0.3s, border 0.3s, color 0.3s;
    transition: background-color 0.3s, border 0.3s, color 0.3s;
}

.btn-full:visited,
.btn-full:link,
input[type=submit] {
    background-color: #e67e22;
    border: 1px solid #e67e22;
    color: #fff;
    margin-right: 20px;
}

.btn-ghost:visited,
.btn-ghost:link {
    border: 1px solid #e67e22;
    color: #e67e22;
}

.btn:hover,
.btn:active,
input[type=submit]:hover,
input[type=submit]:active {
    background-color: #cf6d17;
}
.btn-full:hover,
.btn-full:active {
    border-color: #cf6d17;
}

.btn-ghost:hover,
.btn-ghost:active {
    color: #fff;
    border-color: #cf6d17;
}

/*------ LINKS ------ */

a:link,
a:visited {
    color: #e67e22;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid #e67e22;
    -webkit-transition: border-bottom 0.2s, color 0.2s;
    transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active {
    color: #555;
    border-bottom: 1px solid transparent;
}

/*------ MEALS ------ */


.meals {
    padding: 0;
}
.meals-showcase {
    list-style: none;
    width: 100%;
    /* overflow: hidden; */
}

.meals-showcase li {
    display: block;
    float: left;
    width: 25%;
}

/* figure tag: container for img elements */
.meals-photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
}

.meals-photo img {
    opacity: 0.6;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.meals-photo img:hover {
    opacity: 1;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
}
/*------ PARAGRAPH ------ */

.features-intro {
    line-height: 140%;
    width: 70%;
    margin: 0 auto;
}

.features .features-intro {
    margin-bottom: 30px;
}

.box p {
    font-size: 90%;
    line-height: 140%;
}

/*------ ICONS ------ */

.feature-icon {
    font-size: 300%;
    color: #e67e22;
    margin-bottom: 10px;
    display: block;
}

.small-icon {
    display: block;
    color: #cf6d17;
    margin-right: 25px;
    float: left;
    line-height: 120%;
}


/*------ STEPS ------ */

.steps {
    background-color: #f4f4f4;
}

.steps-box {
    margin-bottom: 30px;
}

.steps-box:first-child {
    margin-bottom: 30px;
    text-align: right;
    padding-right: 3%;

}

.steps-box:last-child {
    text-align: left;
    padding-left: 3%;
    margin-top: 60px;

}

.app-screen {
    width: 40%;
}

.works-step {
    margin-bottom: 48px;
}

.works-step:last-of-type {
    margin-bottom: 80px;
}

.works-step div {
    color: #e67e22;
    border: 2px solid #e67e22;
    display: block;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    padding: 5px;
    text-align: center;
    float: left;
    font-size: 150%;
    margin-right: 25px;
}

.works-step p{
    width: 78%;
}

.btn-app:link,
.btn-app:visited {
    border-color: transparent;
}

.btn-app img {
    height: 50px;
    margin-right: 20px;
}

/*------ CITY ------ */
.city-box {
    overflow: hidden;
}

.city-box-pic {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: black;
    margin-bottom: 15px;
}

.city-box-pic img {
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
            transform: scale(1.15);
    opacity: 0.7;
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.city-box-pic img:hover {
    -webkit-transform: scale(1.04);
            transform: scale(1.04);
    opacity: 1;
}

.city-info {
    margin-bottom: 10px;
}



.city-info p {
    word-spacing: 2px;
}

/*------ TESTINOMIAL ------ */

.section-testinomials {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.7)), to(rgba(0,0,0,0.7))), url(img/back-customers.jpg);
    background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(img/back-customers.jpg);
    background-size: cover;
    color: #fff;
    background-attachment: fixed;
}

blockquote::before {
    content: "\201C";
    font-size: 400%;
    display: block;
    position: absolute;
    top:-5px;
    left: -5px;

}

blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 20px;
}


cite {
    margin-top: 25px;
    font-size: 90%;
    display: block;
}

cite img {
    border-radius: 50%;
    margin-right: 10px;
    width: 60px;
    vertical-align: middle;
}

/*------ PLANS ------ */

.section-plans {
    background-color: #f4f4f4;
}

.plan-box {
    background: #fff;
    border-radius: 10px;
    width: 90%;
    margin-left: 5%;
    -webkit-box-shadow: 0px 2px 2px rgba(126, 125, 125, 0.5);
            box-shadow: 0px 2px 2px rgba(126, 125, 125, 0.5);
}

.plan-box div {
    padding: 15px;
    border-bottom: 1px solid #e8e8e8;
}

.plan-box div:first-child {
    background-color: #fcfcfc;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.plan-box div:last-child {
    text-align: center;
    border: 0;
}

.plan-box ul {
    list-style: none;
}

.plan-box ul li {
    padding: 5px 0;
    font-weight: 150;
    margin-left: 10px;
}

.plan-price {
    font-size: 300%;
    font-weight: 100;
    margin-bottom: 10px;
    color: #e67e22;
}

.plan-price span {
    font-size: 30%;
    font-weight: 300;
}

.plan-price-meal {
    font-size: 80%;
    color: rgb(119, 119, 119);
    margin-left: 10px;
}

.small-icon {
    display: block;
    color: #cf6d17;
    margin-right: 25px;
    float: left;
    line-height: 120%;
}

/*------ FORM ------ */

.contact-form {
    width: 60%;
    margin: 0 auto;
}

input[type=text], 
input[type=email],
select, 
textarea {
    width: 100%;
    padding: 7px;
    border-radius: 3px;
    border: 1px solid #cccccc;
}

textarea {
    height: 100px;
}

input[type=checkbox] {
    margin: 10px 5px 5px 0;
}

*:focus {
    outline: none;
}

/*------ FOOTER ------ */

footer {
    background-color: #333;
    padding:40px;
    padding-top: 30px;
    font-size: 80%;
}

footer p{
    color: #888;
    text-align: center;
}

.footer-nav {
    list-style: none;
    float: left;
    margin-bottom: 10px;

}

.social-links {
    list-style: none;
    float: right;
    margin-bottom: 10px;
}

.social-links li,
.footer-nav li {
    margin-right: 20px;
    display: inline-block;
}

.social-links li:last-child,
.footer-nav li:last-child{
    margin-right:0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
    text-decoration: none;
    border: 0;
    color: #888;
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.social-links li a:link,
.social-links li a:visited {
    font-size: 150%;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.social-links li a:hover,
.social-links li a:active {
    color: #ddd;
}

.ion-social-facebook:hover,
.ion-social-twitter:hover,
.ion-social-googleplus:hover,
.ion-social-instagram:hover {
    -webkit-transition: color 0.2s;
    transition: color 0.2s;
}

.ion-social-facebook:hover {
    color: #3b5998;
}

.ion-social-twitter:hover {
    color: #00acde;
}

.ion-social-googleplus:hover {
    color: #dd4b39;
}

.ion-social-instagram:hover {
    color: #517fa4;
}

/*------ ANIMATION ------ */
.js--wp-1,
.js--wp-2,
.js--wp-3 {
    opacity: 0;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;

}

.js--wp-1.animated,
.js--wp-2.animated,
.js--wp-3.animated {
    opacity: 1;
    -webkit-animation-duration: 1s;
            animation-duration: 1s;
}